<%= link_to "Edit task", edit_task_path %>

<div>
  <input type="checkbox" <%= "checked" if @task.completed %> >
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
</div>

<%= link_to "Back to list", tasks_path %>
